<title-bar></title-bar>
<navigation-tabs></navigation-tabs>
<img class="background" src="img/gotmusic-background-blur.jpg" />

<div id="loading-wrapper" class="loading-wrapper">
    <img class="loading-image" src="img/loading.gif">
</div>

<div class="news section">
  <ng-include src="'templates/news/messages.html'"></ng-include>

  <div id="facebook" class="module" ng-style="{'left': facebook.left, 'position': 'relative', 'height': facebook.height}">
      <div class="facebook-item item" ng-repeat="post in facebook.items" ng-init="facebook.set_width()">
          <div class="col-xs-12">
              <div class="title-wrapper row">
                  <div class="title"><img src='img/icons/facebook.svg' class='title-icon'>{{facebook.artist_name}}</div>
              </div>
              <div class="content row" ng-style="{'height': facebook.item_height}">
                  <div class="col-xs-12">
                      <div class="facebook-content">

                          <!-- FACEBOOK PHOTO TYPE POST -->
                          <div class="facebook-status-photo" ng-show="{{facebook.show_post(post, 'photo')}}">
                              <div class="facebook-photo-message">{{post.message}}</div>
                              <img class="facebook-photo-image" ng-src="{{post.picture}}" width="100%">
                          </div>

                          <!-- FACEBOOK LINK TYPE POST -->
                          <div class="facebook-status-link" ng-show="{{facebook.show_post(post, 'link')}}">
                              <div class="facebook-link-text">
                                  {{post.message}}
                              </div>
                              <div class="facebook-link-box" ng-click="facebook.go_to_link(post.link)">
                                  <img ng-src="{{post.picture}}" class="facebook-link-box-image" width="100%">
                                  <div class="facebook-link-description-box">
                                      <div class="facebook-link-box-title">{{post.name}}</div>
                                      <div class="facebook-link-box-description">{{post.description}}</div>
                                  </div>
                              </div>
                          </div>

                          <!-- FACEBOOK VIDEO TYPE POST -->
                          <div class="facebook-status-video" ng-show="{{facebook.show_post(post, 'video')}}">
                              <div class="facebook-video-message">{{post.message}}</div>
                              <div class="col-xs-12 text-center">
                                  <img class="facebook-thumbnail" ng-src="{{post.picture}}" ng-click="facebook.play_video(post.source)" width="100%">
                  <div class="facebook-video-title">{{post.name}}</div>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


    <div id="instagram" class="module" ng-style="{'left': instagram.left, 'position': 'relative', 'height': instagram.height}">
        <div class="instagram-item item" ng-repeat="photo in instagram.items" ng-init="instagram.set_width()">
                <div class="col-xs-12">
                    <div class="title-wrapper row">
                        <div class="title"><img src='img/icons/instagram.svg' class='title-icon'>{{instagram.username}}</div>
                    </div>
                    <div class="content row" ng-style="{'height': instagram.item_height}">
                        <div class="col-xs-12 text-center">
                            <img class="instagram-image" ng-src="{{photo.images.low_resolution.url}}">
                        </div>
                        <div class="col-xs-12">
                            <div class="instagram-content">
                                <div class="instagram-header row">
                                    <div class="col-xs-6">
                                        <div class="instagram-screenname">{{photo.user.full_name}}</div>
                                        <div class="instagram-likes"><b>{{photo.likes.count}}</b> Likes - {{instagram.getTimeLapse(photo.created_time)}}</div>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <div class="instagram-relationship">
                                            <span class="instagram-follow" ng-click="instagram.follow_user(photo)" ng-show="!instagram.following">
                                                <span class="follow">+Seguir</span>
                                            </span>
                                            <span class="instagram-follow" ng-click="instagram.follow_user(photo)" ng-show="instagram.following">
                                                <span class="following">✓Seguindo</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="instagram-text">
                                    {{photo.caption.text}}
                                </div>
                                <div class="instagram-actions">
                                    <span class="instagram-like" ng-click="instagram.like_photo(photo)" ng-show="!photo.liked">
                                        <img src="img/instagram/photo_unliked.svg">
                                    </span>
                                    <span class="instagram-like" ng-click="instagram.like_photo(photo)" ng-show="photo.liked">
                                        <img src="img/instagram/photo_liked.svg">
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <div ng-if="twitter.screen_name" id="twitter" class="module" ng-style="{'left': twitter.left, 'position': 'relative', 'height': twitter.height}">
        <div class="twitter-item item" ng-init="twitter.set_width()">
            <div class="col-xs-12">
                <div class="title-wrapper row">
                    <div class="title"><img src='img/icons/twitter.svg' class='title-icon'>@{{twitter.screen_name}}</div>
                </div>
                <div class="content row" ng-style="{'height': twitter.item_height}">
                    <div class="col-xs-12">
                        <img class="twitter-login-image" src="img/profile_picture.png">
                        <div class="twitter-login-content">
                            <div class="twitter-login-user">
                                <span class="message-screenname">{{artist_name}}:</span>
                            </div>
                            <div class="twitter-login-text">
                                É necessário fazer login no Twitter para ver o feed.
                            </div>
                        </div>
                        <div class="col-xs-12 text-center">
                            <div class="twitter-open-button btn" ng-click="twitter.open_twitter()">
                                Ver Twitter
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
