<?xml version='1.0' encoding='utf-8'?>
<!-- Trocar por com.gotmusic.{nome do artista} -->
<widget id="com.gotmusic.cheddars" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <!-- Trocar pelo nome do artista -->
    <name>Cheddars</name>
    <!-- Descrição -->
    <description>
        Fique por dentro de todas as novidades da banda Cheddars
    </description>
    <author email="contact@gotmusicapp.com" href="http://www.gotmusicapp.com">
        Got Music
    </author>
    <content src="index.html" />
    <access origin="*" />

    <!-- Preferences -->
    <preference name="orientation" value="portrait" />
    <preference name="ios-orientation-iphone" value="portrait" />
    <preference name="ios-orientation-ipad" value="portrait" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarBackgroundColor" value="#FFFFFF" />
    <preference name="SplashScreen" value="screen" />

    <!-- https://github.com/EddyVerbruggen/Custom-URL-scheme/issues/76 -->
    <feature name="Custom URL scheme">
      <param name="id" value="nl.x-services.plugins.launchmyapp" />
      <param name="url" value="https://github.com/EddyVerbruggen/LaunchMyApp-PhoneGap-Plugin.git" />
      <variable name="URL_SCHEME" value="cheddars"/>
    </feature>

    <!-- Icons & Splashscreens -->
    <icon src="icon.png" />
    <icon src="res/icons/ios/icon-60@3x.png"                       platform="ios" width="180" height="180" />
    <icon src="res/icons/ios/icon-60.png"                          platform="ios" width="60" height="60" />
    <icon src="res/icons/ios/icon-60@2x.png"                       platform="ios" width="120" height="120" />
    <icon src="res/icons/ios/icon-76.png"                          platform="ios" width="76" height="76" />
    <icon src="res/icons/ios/icon-76@2x.png"                       platform="ios" width="152" height="152" />
    <icon src="res/icons/ios/icon-40.png"                          platform="ios" width="40" height="40" />
    <icon src="res/icons/ios/icon-40@2x.png"                       platform="ios" width="80" height="80" />
    <icon src="res/icons/ios/icon.png"                             platform="ios" width="57" height="57" />
    <icon src="res/icons/ios/icon@2x.png"                          platform="ios" width="114" height="114" />
    <icon src="res/icons/ios/icon-72.png"                          platform="ios" width="72" height="72" />
    <icon src="res/icons/ios/icon-72@2x.png"                       platform="ios" width="144" height="144" />
    <icon src="res/icons/ios/icon-small.png"                       platform="ios" width="29" height="29" />
    <icon src="res/icons/ios/icon-small@2x.png"                    platform="ios" width="58" height="58" />
    <icon src="res/icons/ios/icon-50.png"                          platform="ios" width="50" height="50" />
    <icon src="res/icons/ios/icon-50@2x.png"                       platform="ios" width="100" height="100" />
    <icon src="res/icons/android/icon-ldpi.png"                    platform="android" density="ldpi" />
    <icon src="res/icons/android/icon-mdpi.png"                    platform="android" density="mdpi" />
    <icon src="res/icons/android/icon-hdpi.png"                    platform="android" density="hdpi" />
    <icon src="res/icons/android/icon-xhdpi.png"                   platform="android" density="xhdpi" />
    <icon src="res/icons/android/icon-xxhdpi.png"                  platform="android" density="xxhdpi" />
    <icon src="res/icons/android/icon-xxxhdpi.png"                 platform="android" density="xxxhdpi" />
    <splash src="splash.png" />
    <splash src="res/splash/ios/Default.png"                       platform="ios" width="320" height="480" />
    <splash src="res/splash/ios/Default@2x.png"                    platform="ios" width="640" height="960" />
    <splash src="res/splash/ios/Default-568h@2x.png"               platform="ios" width="640" height="1136" />
    <splash src="res/splash/ios/Default-667h@2x.png"               platform="ios" width="750" height="1334" />
    <splash src="res/splash/ios/Default-Portrait-736h@3x.png"      platform="ios" width="1242" height="2208" />
    <splash src="res/splash/ios/Default-Landscape-736h@3x.png"     platform="ios" width="2208" height="1242" />
    <splash src="res/splash/ios/Default-Portrait.png"              platform="ios" width="768" height="1024" />
    <splash src="res/splash/ios/Default-Landscape.png"             platform="ios" width="1024" height="768" />
    <splash src="res/splash/ios/Default-Portrait@2x.png"           platform="ios" width="1536" height="2048" />
    <splash src="res/splash/ios/Default-Landscape@2x.png"          platform="ios" width="2048" height="1536" />
    <splash src="res/splash/android/ldpi.png"                      platform="android" />
    <splash src="res/splash/android/landscape-ldpi.png"            platform="android" density="land-ldpi" />
    <splash src="res/splash/android/mdpi.png"                      platform="android" density="mdpi" />
    <splash src="res/splash/android/landscape-mdpi.png"            platform="android" density="land-mdpi" />
    <splash src="res/splash/android/hdpi.png"                      platform="android" density="hdpi" />
    <splash src="res/splash/android/landscape-hdpi.png"            platform="android" density="land-hdpi" />
    <splash src="res/splash/android/xhdpi.png"                     platform="android" density="xhdpi" />
    <splash src="res/splash/android/landscape-xhdpi.png"           platform="android" density="land-xhdpi" />
</widget>
