<div class="row">
    <div class="col-xs-4 button-wrapper">
        <div id="btn-news" class="option-button" ng-click="goToNews()"><img src='img/icons/menu_news.svg' class='menu-icon'>Novidades</div>
    </div>
    <div class="col-xs-4 button-wrapper">
        <div id="btn-music" class="option-button" ng-click="goToMusic()"><img src='img/icons/menu_music.svg' class='menu-icon'>Músicas</div>
    </div>
    <div class="col-xs-4 button-wrapper">
        <div id="btn-shows" class="option-button" ng-click="goToShows()"><img src='img/icons/menu_shows.svg' class='menu-icon'>Shows</div>
    </div>
</div>
