<div id="store" class="module">
  <div class="swiper-container" swiper swiper-init-on="storeLoad">
    <div class="swiper-wrapper">
      <div class="store-item item swiper-slide" ng-repeat="album in store.items">
        <div class="title-wrapper">
          <div class="title"><img src='img/icons/albuns.svg' class='title-icon'>Álbuns</div>
        </div>

        <div class="content">
          <img class="album-image" ng-src="{{album.artworkUrl100}}">

          <div class="store-content">
            <div class="store-header">
              <div class="store-artist">{{album.artistName}}</div>
              <div class="store-album">{{album.collectionName}}</div>
            </div>

            <div class="album-info">
              <div class="album-price">{{album.currency}} {{album.collectionPrice}}</div>
              <div class="album-release">{{formatDate(album.releaseDate)}}</div>
              <div class="album-copyright">{{album.copyright}}</div>
            </div>
          </div>

          <div class="buy-album" ng-click="store.getAlbum(album)">
            <img ng-src="img/{{store.badgeImg(album)}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
