@font-face {
  font-family: 'lato_bold';
  src: url('../fonts/Lato-Bold.ttf');
}
@font-face {
  font-family: 'lato_regular';
  src: url('../fonts/Lato-Regular.ttf');
}
/*

// Lil T
@main-color: #D52A3A;
@second-color: #FFFFFF;
@third-color: #F0F0F0;
*/
body {
  background-color: #22c6ba;
}
.background {
  z-index: -1;
  position: fixed;
  width: 100%;
  top: 109px;
  right: 0;
  left: 0;
}
.background-home {
  z-index: -1;
  position: fixed;
  width: 100%;
  bottom: 62px;
  right: 0;
  left: 0;
}
navigation-tabs {
  z-index: 100;
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #333333;
}
navigation-tabs .menu-border-left {
  border-left: 1px solid #868686;
  position: absolute;
  top: 15%;
  bottom: 15%;
}
navigation-tabs .menu-border-right {
  border-left: 1px solid #868686;
  position: absolute;
  top: 15%;
  bottom: 15%;
  right: 0;
}
navigation-tabs .button-wrapper {
  padding: 0 !important;
}
navigation-tabs .button-wrapper .option-button {
  padding: 10px 0px;
  height: 45px;
  line-height: 28px;
  background-color: #f0f0f0;
  color: #888888;
  text-align: center;
  font-family: 'lato_bold';
  font-size: 14px;
}
navigation-tabs .button-wrapper .option-button:first-child {
  padding-left: 0;
}
navigation-tabs .button-wrapper .option-button:last-child {
  padding-right: 0;
}
navigation-tabs .button-wrapper .option-button.selected {
  color: black;
}
navigation-tabs .button-wrapper .option-button.selected svg.menu-icon path {
  fill: black;
}
navigation-tabs .button-wrapper .option-button svg.menu-icon {
  width: auto;
  height: 14px;
  margin-right: 5px;
  vertical-align: baseline;
  top: 2px;
  position: relative;
}
navigation-tabs .button-wrapper .option-button svg.menu-icon path {
  fill: #888888;
}
navigation-tabs .button-wrapper .option-button .option-button-first {
  margin-left: 15px;
}
navigation-tabs .button-wrapper .option-button .option-button-last {
  margin-right: 15px;
}
title-bar {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #000000;
  color: #868686;
  height: 64px;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0px 1px 10px #000;
}
title-bar .artist-name {
  line-height: 64px;
  width: 100%;
  height: 64px;
  font-size: 16px;
  text-align: center;
}
title-bar .artist-name .artist-logo {
  height: 25px;
  margin-top: 10px;
}
.home .home-logo {
  position: absolute;
  top: 50px;
  width: 100%;
}
.home .home-logo img {
  width: 60%;
  left: 0;
  top: 0;
  bottom: 62px;
  right: 0;
  margin: auto;
  position: fixed;
}
.home .home-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #FFF;
  bottom: 56px;
}
.home .bottom-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  height: 62px;
}
.home .bottom-menu .button-wrapper {
  padding: 0 !important;
}
.home .bottom-menu .button-wrapper .option-button {
  font-size: 16px;
  padding: 20px;
  background-color: #22c6ba;
  color: white;
  text-align: center;
}
.home .bottom-menu .button-wrapper .option-button:first-child:after {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 0;
  content: "";
  width: 0;
  border-right: 1px solid #ffffff;
}
.home .bottom-menu .button-wrapper .first-option-button {
  padding-left: 25px !important;
}
.home .bottom-menu .button-wrapper .last-option-button {
  padding-right: 30px !important;
}
.item {
  margin-top: 20px;
}
.item #title {
  background-color: #868686;
  color: #000000;
  padding: 5px;
}
.section {
  z-index: 0;
  top: 109px;
  margin-bottom: 10px;
  position: absolute;
  left: 0;
  width: 100%;
  overflow-x: hidden;
}
.section .module {
  display: -webkit-box;
  margin: 10px 5px 0;
}
.section .module:last-child {
  margin-bottom: 20px;
}
.section .module .item {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.section .module .item .title-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
}
.section .module .item .title-wrapper .title {
  margin-left: 15px;
  font-family: 'lato_bold';
  color: #ffffff;
  padding: 5px;
  font-size: 18px;
}
.section .module .item .title-wrapper .title .title-icon {
  height: 18px;
  margin-right: 5px;
  vertical-align: baseline;
  top: 2px;
  position: relative;
}
.section .module .item .content {
  height: 100%;
  font-family: 'lato_regular';
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  padding: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  word-wrap: break-word;
  overflow-y: hidden;
  /*
                -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
                */
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}
.news #message {
  margin-bottom: -10px;
  min-height: 125px;
}
.news #message .message-item .content .message-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: left;
}
.news #message .message-item .content .message-content {
  margin-left: 60px;
}
.news #message .message-item .content .message-content .message-user .message-screenname {
  font-weight: bold;
}
.news #message .message-item .content .message-action {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
  text-transform: uppercase;
  font-size: x-small;
  background-color: #ffffff;
}
.news #facebook {
  margin-bottom: 30px;
}
.news #facebook .facebook-item .content .facebook-profile {
  height: 50px;
  width: 50px;
  border-radius: 2px;
  float: left;
}
.news #facebook .facebook-item .content .facebook-content .facebook-status-photo .facebook-photo-message {
  margin-bottom: 10px;
}
.news #facebook .facebook-item .content .facebook-content .facebook-status-link .facebook-link-description-box {
  padding: 15px;
}
.news #facebook .facebook-item .content .facebook-content .facebook-status-link .facebook-link-description-box .facebook-link-box-title {
  font-size: large;
  font-weight: bold;
  margin-bottom: 5px;
}
.news #facebook .facebook-item .content .facebook-content .facebook-status-link .facebook-link-text {
  margin-bottom: 10px;
}
.news #facebook .facebook-item .content .facebook-content .facebook-status-link .facebook-link-box {
  border: 1px solid #FFFFFF;
}
.news #facebook .facebook-item .content .facebook-content .facebook-status-video .facebook-video-message {
  margin-bottom: 10px;
  padding: 15px;
}
.news #facebook .facebook-item .content .facebook-content .facebook-status-video .youtube-thumbnail {
  width: 100%;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}
.news #facebook .facebook-item .content .facebook-content .facebook-status-video .youtube-video-title {
  background-color: #ffffff;
  color: #000000;
  height: 30px;
  line-height: 30px;
  font-size: small;
  text-align: center;
}
.news #twitter .twitter-item .content .twitter-login-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: left;
}
.news #twitter .twitter-item .content .twitter-login-content {
  margin-left: 60px;
}
.news #twitter .twitter-item .content .twitter-login-content .twitter-user .twitter-screenname {
  font-weight: bold;
}
.news #twitter .twitter-item .content .twitter-open-button {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
  text-transform: uppercase;
  font-size: x-small;
  background-color: #ffffff;
}
.news #twitter .twitter-item .content .twitter-profile {
  height: 50px;
  width: 50px;
  border-radius: 2px;
  float: left;
}
.news #twitter .twitter-item .content .tweet-content {
  margin-left: 60px;
}
.news #twitter .twitter-item .content .tweet-content .tweet-user .twitter-screenname {
  font-weight: bold;
}
.news #twitter .twitter-item .content .tweet-content .tweet-user .twitter-username {
  color: #888888;
  font-size: x-small;
}
.news #twitter .twitter-item .content .tweet-content .tweet-time {
  position: absolute;
  right: 0;
  top: 0;
  color: #888888;
  font-size: x-small;
}
.news #twitter .twitter-item .content .tweet-content .tweet-text {
  color: #555555;
  overflow-y: hidden;
}
.news #twitter .twitter-item .content .tweet-content .tweet-stats {
  color: #888888;
  text-transform: uppercase;
  font-size: x-small;
}
.news #instagram {
  margin-bottom: 30px;
}
.news #instagram .instagram-item .content .instagram-image {
  width: 100%;
}
.news #instagram .instagram-item .content .instagram-content {
  margin-top: 10px;
}
.news #instagram .instagram-item .content .instagram-content .instagram-header .instagram-screenname {
  font-weight: bold;
  position: absolute;
  left: 15px;
}
.news #instagram .instagram-item .content .instagram-content .instagram-header .instagram-likes {
  position: absolute;
  left: 15px;
  top: 20px;
  color: #888888;
  font-size: small;
}
.news #instagram .instagram-item .content .instagram-content .instagram-header .instagram-relationship {
  font-size: x-small;
  position: absolute;
  right: 15px;
  top: 5px;
}
.news #instagram .instagram-item .content .instagram-content .instagram-header .instagram-relationship .follow {
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 3px 10px;
  text-transform: uppercase;
}
.news #instagram .instagram-item .content .instagram-content .instagram-header .instagram-relationship .following {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  padding: 3px 10px;
}
.news #instagram .instagram-item .content .instagram-content .instagram-text {
  margin-top: 40px;
  color: #ffffff;
  overflow-y: hidden;
}
.news #instagram .instagram-item .content .instagram-content .instagram-actions {
  color: #888888;
  text-transform: uppercase;
  font-size: x-small;
  margin-top: 20px;
}
.news #instagram .instagram-item .content .instagram-content .instagram-actions .instagram-like {
  margin-right: 20px;
}
.music #deezer #deezer-embed {
  position: relative;
}
.music #deezer #deezer-embed .loading-image {
  width: 55px;
  display: block;
  margin: 15px auto;
}
.music #deezer .deezer-item .embed {
  padding: 0 !important;
}
.music #deezer .deezer-item .embed iframe {
  padding-top: 6px;
  margin-left: -3px;
}
.music #deezer .deezer-item .content {
  height: 120px !important;
}
.music #deezer .deezer-item .content .album-cover-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 150px;
}
.music #deezer .deezer-item .content .album-image {
  height: 120px;
  width: 120px;
  border-bottom-left-radius: 0px;
}
.music #deezer .deezer-item .content .btn-player {
  height: 50px;
  width: 50px;
  position: absolute;
  left: 35px;
  top: 35px;
  border-radius: 50%;
}
.music #deezer .deezer-item .content .col-xs-12 {
  padding-left: 0;
  border-bottom-left-radius: 0px;
}
.music #deezer .deezer-item .content .deezer-content {
  margin-left: 120px;
}
.music #deezer .deezer-item .content .deezer-content .deezer-header .deezer-track {
  font-weight: bold;
}
.music #deezer .deezer-item .content .deezer-content .deezer-header .deezer-artist {
  color: #888888;
  font-size: small;
}
.music #deezer .deezer-item .content .deezer-content .album-info {
  margin-top: 15px;
}
.music #deezer .deezer-item .content .deezer-content .album-info .album-price {
  font-weight: bold;
}
.music #deezer .deezer-item .content .deezer-content .album-info .album-release {
  font-size: x-small;
  color: #888888;
}
.music #deezer .deezer-item .content .deezer-content .album-info .album-copyright {
  font-size: x-small;
  color: #888888;
}
.music #deezer .deezer-item .content .dzSlider {
  height: 20px;
  margin-top: 7px;
  background-color: #464646;
  border: #000000 solid 5px;
}
.music #deezer .deezer-item .content .dzSlider .dzProgress {
  height: 10px;
  background-color: #FFFFFF;
}
.music #youtube .youtube-item .content {
  padding: 0 !important;
}
.music #youtube .youtube-item .content .youtube-thumbnail {
  width: 100%;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}
.music #youtube .youtube-item .content .youtube-video-title {
  background-color: #ffffff;
  color: #000000;
  height: 30px;
  line-height: 30px;
  font-size: small;
  text-align: center;
}
.music #itunes .itunes-item .content .album-image {
  height: 100px;
  width: 100px;
  float: left;
}
.music #itunes .itunes-item .content .buy-album {
  position: absolute;
  right: 0;
  bottom: -3px;
}
.music #itunes .itunes-item .content .itunes-content {
  margin-left: 110px;
}
.music #itunes .itunes-item .content .itunes-content .itunes-header .itunes-artist {
  font-weight: bold;
}
.music #itunes .itunes-item .content .itunes-content .itunes-header .itunes-album {
  color: #888888;
  font-size: small;
}
.music #itunes .itunes-item .content .itunes-content .album-info {
  margin-top: 15px;
}
.music #itunes .itunes-item .content .itunes-content .album-info .album-price {
  font-weight: bold;
}
.music #itunes .itunes-item .content .itunes-content .album-info .album-release {
  font-size: x-small;
  color: #888888;
}
.music #itunes .itunes-item .content .itunes-content .album-info .album-copyright {
  font-size: x-small;
  color: #888888;
}
.video {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.video #yt-quit {
  z-index: 500;
  position: absolute;
  left: 10px;
  top: 25px;
}
.video #ytplayer {
  background: #000;
  position: absolute;
  left: 0;
  top: 64px;
  z-index: 200;
}
.demand-modal-background {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.8);
}
.internet-modal-background {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.8);
}
.shows #demand .demand-item .content .demand-text {
  margin-top: 10px;
}
.shows #demand .demand-item .content .demand-text .artist-name {
  font-weight: bolder;
  font-family: 'lato_bold';
}
.shows #demand .demand-item .content .demand-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  color: #000000;
}
.shows #songkick .songkick-item .content {
  padding: 0 !important;
}
.shows #songkick .songkick-item .content .songkick-event {
  padding: 0;
}
.shows #songkick .songkick-item .content .songkick-event .border-content {
  border-left: 1px solid #ffffff;
  position: absolute;
  top: 25%;
  bottom: 10%;
}
.shows #songkick .songkick-item .content .songkick-event .border-date {
  border-left: 1px solid #000000;
  position: absolute;
  top: 4px;
  height: 12px;
}
.shows #songkick .songkick-item .content .songkick-event .event-date {
  background-color: #ffffff;
  color: #000000;
}
.shows #songkick .songkick-item .content .songkick-event .event-city {
  margin-top: 10px;
  font-weight: bold;
}
.shows #songkick .songkick-item .content .songkick-event .event-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  color: #000000;
}
.shows #songkick .songkick-item .songkick-logo-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}
.shows #songkick .songkick-item .songkick-logo-wrapper .songkick-logo {
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.shows #livestream .livestream-item .content {
  padding: 0 !important;
}
.shows #livestream .livestream-item .content .livestream-thumbnail {
  width: 100%;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}
.shows #livestream .livestream-item .content .livestream-video-title {
  background-color: #ffffff;
  color: #000000;
  height: 30px;
  line-height: 30px;
  font-size: small;
  text-align: center;
}
.notification {
  position: fixed;
  top: -100px;
  z-index: 200;
  background-color: #868686;
  color: #000000;
  height: 50px;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0px 1px 10px #000;
}
.notification .notification-text {
  line-height: 50px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  text-align: center;
}
.notification .notification-close {
  position: absolute;
  top: 0;
  right: 5px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  font-size: 16px;
  text-align: center;
}
.form-control {
  margin-bottom: 10px;
}
#twitter-widget-0 {
  width: 100% !important;
}
.modal-content {
  margin-top: 100px;
  border: 0;
  border-radius: 0px;
}
.modal-content .modal-header {
  background-color: #000000;
  padding: 0px !important;
}
.modal-content .modal-header .modal-title {
  margin-left: 15px;
  font-family: 'lato_bold';
  color: #ffffff;
  padding: 5px;
  font-size: 18px;
}
.modal-content .modal-header .modal-title .title-icon {
  height: 18px;
  margin-right: 5px;
  vertical-align: baseline;
  top: 2px;
  position: relative;
}
.modal-content .modal-body {
  text-align: center;
}
.modal-content .modal-body .modal-text {
  text-align: center;
}
.modal-content .modal-body .modal-text .artist-name {
  font-weight: bolder;
  font-family: 'lato_bold';
}
.modal-content .modal-body .form-control {
  text-align: center !important;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.modal-content .modal-body .form-control:focus {
  border-color: #000000;
}
.modal-content .modal-body .location-input {
  background: url('../img/icons/gps.png') no-repeat scroll 5px 6px;
}
.modal-content .modal-body .btn-gotmusic {
  background-color: #000000;
  color: #ffffff;
}
.loading-wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 109px;
  z-index: 1000;
}
.loading-wrapper .loading-image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px;
}
